<div class='container-fluid'>
	<list-view-header header-title='ten_cv'>	
		<li role="presentation" class="divider"></li>
		<li ng-show="data.progress!=2"><a class='dropdown-header' ng-click="complete()"><i class="fa fa-check"></i> Hoàn thành công việc này</a></li>
		<li role="presentation" class="divider"></li>
		<li>
			<a class='dropdown-header'  ng-click="addContact()">Thêm liên lạc</a>
		</li>
		<li>
			<a class='dropdown-header'  ng-click="addCustomer()">Thêm khách hàng</a>
		</li>
		<li>
			<a class='dropdown-header'  ng-click="addProject()">Thêm vụ việc, dự án, công trình</a>
		</li>
	</list-view-header>
	<tabset class="col-sm-12">
		<tab heading='Chi tiết'>
			<form class='form-horizontal'>
			<fieldset>
				<legend>Thông tin chi tiết</legend>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Tên công việc:</label>
					<div class='col-sm-10 field-label'>{{data.ten_cv}}</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Phụ trách:</label>
					<div class='col-sm-10 field-label'><a ng-click="openProfile(data.phu_trach)">{{data.phu_trach}}</a></div>
				</div>
				<div class='form-group' ng-show='data.attendInfos && data.attendInfos.length>0'>
					<label class='col-sm-2 control-label'>Những người tham gia:</label>
					<div class='col-sm-10 field-label'>
						<span  ng-repeat="m in data.attendInfos"> <a ng-click='openProfile(m.email)'>{{m.name}}</a>,  </span>
					</div>
				</div>
				<div class='form-group' ng-show="data.location">
					<label class='col-sm-2 control-label'>Địa điểm:</label>
					<div class='col-sm-10 field-label'>{{data.location}}</a></div>
				</div>
				<div class='form-group' ng-show="data.ten_kh">
					<label class='col-sm-2 control-label'>Khách hàng:</label>
					<div class='col-sm-10 field-label'><a href="#dmkh/view/{{data.id_kh}}?redirect={{location}}">{{data.ten_kh}}</a></div>
				</div>
				<div class='form-group' ng-show="data.ten_dt">
					<label class='col-sm-2 control-label'>Vụ việc, dự án:</label>
					<div class='col-sm-10 field-label'><a href="#dmdt/view/{{data.id_dt}}?redirect={{location}}">{{data.ten_dt}}</a></div>
				</div>
				
				<div class='form-group' ng-show="data.due_date || data.start_date">
					<label class='col-sm-2 control-label'>Ngày bắt đầu:</label>
					<div class='col-sm-4 field-label'>{{data.start_date|date:'dd/MM/yyyy HH:mm:ss'}}</div>
					
					<label class='col-sm-2 control-label' ng-show="data.due_date">Ngày kết thúc:</label>
					<div class='col-sm-4 field-label'>{{data.due_date|date:'dd/MM/yyyy HH:mm:ss'}}</div>
				</div>
				
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Mức ưu tiên:</label>
					<div class='col-sm-10'>
						<div class="field-label">
							<div ng-show='data.priority==1'><span style="color:red; width:20px">!!!</span> Cao</div>
							<div ng-show='data.priority==2'><span style="color:orange; width:20px">!!</span> Trung bình</div>
							<div ng-show='data.priority==3'><span style="color:blue; width:20px">!</span> Thấp</div>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<label class='col-sm-2 control-label'>Trạng thái:</label>
					<div class='col-sm-10 field-label'>
						<div class="dropdown">
						  <span ng-show='data.progress==0'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-info dropdown-toggle'>Chưa thực hiện</span>
						  <span ng-show='data.progress==1'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-primary dropdown-toggle'>Đang thực hiện</span>
						  <span ng-show='data.progress==2'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-success dropdown-toggle'>Hoàn thành</span>
						  <span ng-show='data.progress==3'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-danger dropdown-toggle'>Tạm dừng</span>
						  <span ng-show='data.progress==4'  id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" class='btn btn-xs btn-warning dropdown-toggle'>Đang chờ</span>
						
							
						  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation" ng-show='data.progress!=2'><a role="menuitem" tabindex="-1" ng-click="update({progress:2})">Hoàn thành</a></li>
							<li role="presentation" ng-show='data.progress!=1'><a role="menuitem" tabindex="-1" ng-click="update({progress:1})">Đang thực hiện</a></li>
							<li role="presentation" ng-show='data.progress!=3'><a role="menuitem" tabindex="-1" ng-click="update({progress:3})">Tạm dừng</a></li>
							<li role="presentation" ng-show='data.progress!=4'><a role="menuitem" tabindex="-1" ng-click="update({progress:4})">Chờ</a></li>
							<li role="presentation" ng-show='data.progress!=0'><a role="menuitem" tabindex="-1" ng-click="update({progress:0})">Chưa thực hiện</a></li>
						  </ul>
						</div>
					</div>
				</div>
				
				<div class='form-group' ng-show="data.mieu_ta">
					<label class='col-sm-2 control-label'>Miêu tả:</label>
					<div class='col-sm-10 field-label'><span parse-html="data.mieu_ta"></span></div>
				</div>
				<div class='form-group' ng-show="data.date_created">
					<label class='col-sm-2 control-label'>Ngày tạo:</label>
					<div class='col-sm-10 field-label'>{{data.date_created|date:'dd/MM/yyyy HH:mm:ss'}}</div>
				</div>
			</fieldset>
			
			<fieldset>
				<legend>Liên kết</legend>
				<div>
					<stp-link link="data" collection='task' collections-link="lienhe:'ten_lien_he,dien_thoai,email',dmkh:'ten_kh,dia_chi,dien_thoai,email',dmdt:'ten_dt',task:'ten_cv'"></stp-link>
				</div>
			</fieldset>
			</form>
			<br/>
			<file link='data'></file>
			<br/>
			<comment link='data' user='user' title="{{data.ten_cv}}"></comment>
			
			
		</tab>
		<tab heading="Ghi chú">
			<note link='data'></note>
		</tab>
		
		<tab heading="Lịch sử">
			<history link='data' module='task'></history>
		</tab>
	</tabset>
</div>