<stplistheader box-search="false"></stplistheader>
<div class="table-responsive">
	<table class ="table table-striped table-bordered">
		<tr><th class="text-center"><input type="checkbox" ng-model="selectionAll"></th><th>Tên tham số</th><th>Kiểu</th><th>Giá trị</th></tr>
		<tr ng-repeat="r in list track by r._id">
			<td width='50px' class="text-center"> <input type="checkbox" ng-model="r.sel"/> </td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.name}}
			</td>
			<td   style='cursor:pointer;text-align:center' ng-click='edit(r._id)'>
				{{ r.type}}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.value}}
			</td>
			
		</tr>
	</table>
</div>
<ng-page></ng-page>