<form name="form" novalidate class ="css-form form-horizontal form-input" >
	<header-form-input></header-form-input>
	<div class="form-group" ng-hide ='data.is_reply || data.id_product'>
		<label class="control-label col-md-3">Tiêu đề <span class="required">(*)</span></label>
		<div class="col-md-9">
			<input type="text"  class="form-control" placeholder='Nhập tiêu đề...' ng-model='data.title' ng-required='true'>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-3">Nội dung <span class="required">(*)</span></label>
		<div class="col-md-9">
			<div text-angular ta-toolbar="[['bold', 'italics', 'underline',  'ul', 'ol'],
      ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'],
      ['html', 'insertImage','insertLink', 'insertVideo']]" ng-model="data.content"></div>
		</div>
	</div>
	

	<!--<footer-form-input></footer-form-input>-->
</form>