<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>Sao Tiên Phong | Ứng dụng quản lý</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Accounting software" name="description"/>
<meta content="Phạm Văn Trường" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="libs/angular-xeditable/dist/css/xeditable.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="libs/angular-chart.js/dist/angular-chart.css">
<link href="assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="assets/global/css/components.css" rel="stylesheet" type="text/css"/>
<link href="assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="assets/admin/layout/css/themes/blue.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
<link href="assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN THEME STYLES -->
<link rel="stylesheet" href="css/main.css">
<link rel='stylesheet' href='libs/textAngular/dist/textAngular.css'>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="images/favicon.ico"/>
<script>
	//for node-webkit
	if (typeof require == 'function') { 
	  var gui = require('nw.gui');
	  gui.App.addOriginAccessWhitelistEntry('app', 'http://ungdungquanly.vn/', 'myapp', true);
	}
</script>
</head>
<!-- END HEAD -->
<body  ng-app="accApp" id="controller" ng-controller="homeController" class="page-header-fixed page-quick-sidebar-over-content page-full-width ng-cloak">
<div class="full-page-overlay" route-loader>
	<div class="spin">Đang tải dữ liệu...</div>
 </div>
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo" style="padding-top:10px">
			<a ng-click="openPath('dashboard','DASHBOARD')" style="font-size:18px;font-weight:bold;text-decoration:none">
				<span style="color:white">ỨNG DỤNG QUẢN LÝ</SPAN>
			</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN HORIZANTAL MENU -->
		<horizantal-menu></horizantal-menu>
		<!-- END HORIZANTAL MENU -->
		<!-- BEGIN HEADER SEARCH BOX -->
		<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
		<div class="search-form">
			<div class="input-group">
				<input type="text"   ng-readonly="!app_info" class="form-control" placeholder="Tìm..." ng-model='searchword' ng-keyup="searchAllKeyup($event,searchword)">
				<span class="input-group-btn">
					<a  ng-click="searchAll(searchword)" ng-disabled='!searchword' class="btn submit"><i class="icon-magnifier"></i></a>
				</span>
			</div>
		</div>
		<!-- END HEADER SEARCH BOX -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<top-menu></top-menu>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
	<div class="page-sidebar navbar-collapse collapse">
		<ul class="page-sidebar-menu" data-slide-speed="200" data-auto-scroll="true">

			<li class="sidebar-search-wrapper">
			</li>
			<li ng-class="menuActive=='DASHBOARD'?'active':''"  ng-show="app_info">
				<a ng-click="openPath('dashboard','DASHBOARD')">
				Bảng điều khiển <span class="selected">
				</span>
				</a>
			</li>
			<li ng-class="menuActive=='CRM'?'active':''"  ng-show="app_info  && commands.crm.visible">
				<a href="javascript:;">
				CRM <span class="arrow">
				</span>
				</a>
				<ul class="sub-menu">
					<li ng-repeat="cmd in commands.crm.input" ng-if="cmd.visible">
						<a ng-click="openPath(cmd.path,'CRM')">
						{{cmd.header}} <span class="bg-danger" ng-if="cmd.path=='dxd'">Đang xây dựng</span></a>
					</li>
				</ul>
			</li>
			<li ng-class="menuActive=='SALE'?'active':''"  ng-show="app_info && commands.sale.visible">
				<a href="javascript:;">
				Bán hàng <span class="arrow">
				</span>
				</a>
				<ul class="sub-menu">
					<li ng-repeat="cmd in commands.sale.input" ng-if="cmd.visible">
						<a ng-click="openPath(cmd.path,'SALE')">
						{{cmd.header}} <span class="bg-danger" ng-if="cmd.path=='dxd'">Đang xây dựng</span></a>
					</li>
				</ul>
			</li>
			
			<li ng-class="menuActive=='ACC'?'active':''"  ng-show="app_info && commands.acc_visible">
				<a href="javascript:;">
				Kế toán <span class="arrow">
				</span>
				</a>
				<ul class="sub-menu">
					<li ng-repeat="module in commands.acc" ng-if="module.visible">
						<a href="javascript:;">
						{{module.module}} <span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li ng-repeat="group in module.items" ng-if="group.visible">
								<a href="javascript:;">
									{{group.group}} <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li ng-repeat="item in group.items"   ng-if="item.visible">
										<a ng-click="openPath(item.path,'ACC')">
										{{item.header}} <span class="bg-danger" ng-if="item.path=='dxd'">Đang xây dựng</span></a>
									</li>
								</ul>
							</li>
							
						</ul>
					</li>
				</ul>
			</li>
			<li ng-class="menuActive=='RPT'?'active':''"  ng-if="app_info && commands.report_visible">
				<a href="javascript:;">
				Báo cáo <span class="arrow">
				</span>
				</a>
				<ul class="sub-menu">
					<li ng-repeat="module in commands.report" ng-if="module.visible">
						<a href="javascript:;">
						{{module.module}} <span class="arrow"></span>
						</a>
						<ul class="sub-menu">
							<li ng-repeat="item in module.items"   ng-if="item.visible">
								<a ng-click="openPath(item.path,'RPT')">
								{{item.header}} <span class="bg-danger" ng-if="item.path=='dxd'">Đang xây dựng</span></a>
							</li>
							
						</ul>
					</li>
				</ul>
			</li>
			<li ng-class="menuActive=='FM'?'active':''" ng-show="user">
				<a ng-click="openPath('comment','FM')">Góp ý <span class="selected" ng-show="menuActive=='FM'"></span></a>
			</li>
			
		</ul>
	</div>
	<!-- END HORIZONTAL RESPONSIVE MENU -->
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper" shortcut>
		<div class="page-content">
			<app-header></app-header>
			<div class='ng-cloak page'  ng-view></div>
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">
		 <a href="http://saotienphong.com.vn" style="color:silver">Copyright (C) 2015 Sao Tien Phong.</a>
	</div>
	<div class="page-footer-tools">
		<span class="go-top">
		<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>
<!-- END FOOTER -->
<!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<script src="assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="assets/admin/layout/scripts/layout.js" type="text/javascript"></script>


<script src="libs/SocketIO.js"></script>


<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-locale_vi-vn.js"></script>
<script src="libs/angular-cookies/angular-cookies.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="libs/ui-bootstrap.min.js"></script>
<script src="libs/checklist-model.js"></script>
<script src="libs/angular-xeditable/dist/js/xeditable.min.js"></script>

<script src="libs/angular-animate/angular-animate.min.js"></script>

<script src="libs/Chart.js/Chart.min.js"></script>
<script src="libs/angular-chart.js/dist/angular-chart.js"></script>
<script src="libs/ng-infinite-scroll.min.js"></script>
    
<!--<script src="libs/react/build/react.min.js"></script>
<script src="libs/react/build/react-dom.min.js"></script>-->

<!--<script src="libs/angular-touch/angular-touch.min.js"></script>-->
<!--<script src="libs/angular-sanitize/angular-sanitize.min.js"></script>-->
<script src="libs/slimscroll.js"></script>

<script src="libs/underscore/underscore.js"></script>
<script src="libs/async/lib/async.js"></script>
<script src="libs/scrollglue.js"></script>


<script src="libs/ng-textcomplete/ng-textcomplete.min.js"></script>
<!--text editor-->
<script src='libs/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='libs/textAngular/dist/textAngular.min.js'></script>
<script src='libs/textAngular/dist/textAngular-sanitize.min.js'></script>
    
<script src="libs/webshim/js-webshim/minified/polyfiller.js"></script>
<script>
    webshims.setOptions('forms-ext', { datepicker: { dateFormat: 'dd/mm/yy' } });
    webshims.activeLang('en-AU');
    webshims.polyfill('forms forms-ext');
</script>
<!--chart
	<script src="libs/highstock.js"></script>
	<script src="libs/highcharts-ng-master/dist/highcharts-ng.min.js"></script>
-->
<!--main--> 
<script src="configs.js"></script>
<script src="app.min.js"></script>
</body>
<!-- END BODY -->
</html>