<div class="alert alert-info disable-small-screen" ><a class ="btn btn-primary btn-sm" href="#download">Tải về phần mềm bán hàng</a> dành cho thu ngân. Với phần mềm này bạn vẫn có thể bán hàng khi mất kết nối internet</div>

<stpvoucherheader options="text:'Tùy chọn'"></stpvoucherheader>
<div class="table-responsive">
	<table class ="table table-striped table-hover table-bordered">
		<tr><th class="text-center"><input type="checkbox" ng-model="selectionAll"></th><th>Chứng từ</th><th>Khách hàng</th><th>Diễn giải</th><th>Số lượng</th><th>Tiền hàng</th><th>Tiền CK</th><th>Tiền thanh toán</th><th>Đơn vị cơ sở</th></tr>
		<tr ng-repeat="r in list track by r._id">
			<td width='50px' class="text-center"> <input type="checkbox" ng-model="r.sel"/> </td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				<div>{{ r.so_ct }}</div>
				<div>{{ r.ngay_ct|date:'dd/MM/yyyy'}}</div>
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				<div>{{r.ten_kh}}</div>
				<div>{{r.nguoi_giao_dich}}</div>
				<div style="font-size:12px"><i>{{r.ma_kh}}</i></div>
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.dien_giai}}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_sl|number:0 }}
			</td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_tien|number:0 }}
			</td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_ck|number:0 }}
			</td>
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.t_tt|number:0 }}
			</td>
			
			<td   style='cursor:pointer' ng-click='edit(r._id)'>
				{{ r.ten_dvcs}}
			</td>
		</tr>
	</table>
</div>
<ng-page></ng-page>