<form>
<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-4">
				<db-task></db-task>
			</div>
			<div class="col-md-4">
				<db-notify></db-notify>
			</div>	
			<div class="col-md-4">
				<db-inbox></db-inbox>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<sale-order></sale-order>
			</div>
		</div>
        <div class="row" ng-hide="chart_hide">
			<div class="col-lg-12">
                <dashboard-chart></dashboard-chart>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<follow collections-follow="dmdt:'ten_dt',dmkh:'ten_kh',task:'ten_cv',contract:'ten_hd',lienhe:'ten_lien_he'"></follow>
		<p></p>
		<like></like>
	</div>
</div>
</form>