<form name="form" novalidate class ="css-form form-horizontal form-input" >
	<header-form-input></header-form-input>
	<div class="form-group">
		<label class="control-label col-md-3">Đơn vị cơ sở <span class="required">(*)</span></label>
		<div class="col-md-6">
			<input type="text" name ='ten_dvcs' class="form-control input-md" placeholder='Nhập tên đơn vị' ng-model='data.ten_dvcs' required>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3">Có giá trị với</label>
		<div class="col-sm-6">
			<label><input type='radio' ng-model='data.visible_to' name='visible_to' value="0"/> Mọi người</label><br/>
			<label><input type='radio' ng-model='data.visible_to' name='visible_to' value="1"/> Chỉ với người tạo</label><br/>
			<label><input type='radio' ng-model='data.visible_to' name='visible_to'  value="2"/> Những người sau</label><br/>
			<select ng-show='data.visible_to==2' multiple ng-model="data.visible_to_users" ng-options="r.email as r.name for r in members" class="form-control">
				
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-3 col-md-10">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="data.status" /> Còn sử dụng</label>
			</div>
		</div>
	</div>

	<footer-form-input></footer-form-input>
</form>